

    <!-- <h1> Dashboard </h1>
<div class="container-xl">

    <div class="table-responsive">

        <div class="table-wrapper">

            <div class="table-title"> -->

                <!-- <div class="row">

                    <div class="col-sm-6">

                        <h2>Manage <b>Employees</b></h2>

                    </div>  -->

                    <!-- <div class="col-sm-6">
                        <button type="button" (click)="logout()" class="btn btn-danger">LogOut</button>         

                               
                        
                        <a href="deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>    


                    </div> -->
                    
 
                    <a routerLink="/get-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Get User List</span></a>

                    <a routerLink="/add-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a> 

                         
<!-- 
                    <a routerLink="/edit-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Edit New User</span></a> 

                    <a routerLink="/delete-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Delete User</span></a> 

                     -->
            
                  

            <!-- </div> -->
            
        <!-- </div>

    </div>
    </div>
     -->
<!-- 

 <h1> Dashboard </h1>
  <div class="container-xl">
  
      <div class="table-responsive">
  
          <div class="table-wrapper">
  
              <div class="table-title">
  
                  <div class="row">
  
                      <div class="col-sm-6">
  
                          <h2>Manage <b>Employees</b></h2>
  
                        </div>

                            <div class="col-sm-6">
                                <button type="button" (click)="logout()" class="btn btn-danger">LogOut</button>         
                            </div>
                        
                        
                            <a routerLink="/get-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Get User List</span></a>

                        <a routerLink="/add-user" class="btn btn-success"  data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a> 

                        
                        </div>  
                      
                    </div>

                 <router-outlet></router-outlet>

                </div>
        </div>

  </div>  -->

  